<!-- nav.html -->
<nav>
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'upload_campaign_report' %}">Upload Campaign</a></li>
        <li><a href="{% url 'name_mapping' %}">Map Campaign Names</a></li>
        <li><a href="{% url 'enter_target' %}">Enter Targets</a></li>
    </ul>
</nav>

<style>
    nav ul {
        list-style-type: none;
        padding: 0;
        background-color: #333;
    }

    nav ul li {
        display: inline;
        margin-right: 15px;
    }

    nav ul li a {
        color: white;
        text-decoration: none;
        padding: 10px;
        display: inline-block;
    }

    nav ul li a:hover {
        background-color: #575757;
        border-radius: 4px;
    }
</style>
