

{% load humanize %}

<table border="1">
    <thead>
        <tr>
            <th>Overview</th>
            <th>Cost</th>
            <th>Impressions</th>
            <th>Clicks</th>
            <th>CTR (%)</th>
            <th>CPC</th>
        </tr>
    </thead>
    <tbody>
        {% for campaign_type, data in campaigns_by_type.items %}
        <tr>
                                <!-- Display the campaign type, use "Programmatic" for Stackadapt campaigns -->
                    <td colspan="6">
                        <strong>
                            {% if campaign_type == "Stackadapt Display" %}
                                Programmatic Display
                            {% elif campaign_type == "Stackadapt Video" %}
                                Programmatic Video
                            {% else %}
                                {{ campaign_type }}
                            {% endif %}
                        </strong>
                    </td>
        </tr>
        <tr>
            <td>Targets</td>
            <td>£{{ data.target_spend|floatformat:2|intcomma }}</td>
            <td>{{ data.target_impressions|floatformat:0|intcomma }}</td>
            <td>{{ data.target_clicks|floatformat:0|intcomma }}</td>
            <td>{{ data.target_ctr|floatformat:2|intcomma }}%</td>
            <td>£{{ data.target_cpc|floatformat:2|intcomma }}</td>
        </tr>
        <tr>
            <td>Actuals</td>
            <td class="{% if data.total_spend > data.target_spend %}red{% else %}green{% endif %}">
                £{{ data.total_spend|floatformat:2|intcomma }}
            </td>
            <td class="{% if data.total_impressions < data.target_impressions %}red{% else %}green{% endif %}">
                {{ data.total_impressions|floatformat:0|intcomma }}
            </td>
            <td class="{% if data.total_clicks < data.target_clicks %}red{% else %}green{% endif %}">
                {{ data.total_clicks|floatformat:0|intcomma }}
            </td>
            <td class="{% if data.total_ctr < data.target_ctr %}red{% else %}green{% endif %}">
                {{ data.total_ctr|floatformat:2|intcomma }}%
            </td>
            <td class="{% if data.total_cpc > data.target_cpc %}red{% else %}green{% endif %}">
                £{{ data.total_cpc|floatformat:2|intcomma }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="detailed-table">
    <table>
        <thead>
            <tr>
                <th>Channel</th>
                <th>Product</th>
                <th>Plan vs Actual</th>
                <th>Period</th>
                <th>Spend</th>
                <th>Impressions</th>
                <th>CPM</th>
                <th>Clicks</th>
                <th>CPC</th>
                <th>CTR</th>
            </tr>
        </thead>
        <tbody>
            {% for campaign_type, data in campaigns_by_type.items %}
            <tr class="row-header">
                <td rowspan="2">{{ campaign_type }}</td>
                <td rowspan="2" class="product-column">{{ selected_product }}</td>
                <td>Plan</td>
                <td>{{ selected_start_date }} - {{ selected_end_date }}</td>
                <td>£{{ data.target_spend|floatformat:0|intcomma }}</td>
                <td>{{ data.target_impressions|floatformat:0|intcomma }}</td>
                <td>£{{ data.target_cpm|floatformat:2 }}</td>
                <td>{{ data.target_clicks|floatformat:0|intcomma }}</td>
                <td>£{{ data.target_cpc|floatformat:2 }}</td>
                <td>{{ data.target_ctr|floatformat:2 }}%</td>
            </tr>
            <tr class="row-header">
                <td>Actual</td>
                <td>{{ selected_start_date }} - {{ selected_end_date }}</td>
                <td>£{{ data.total_spend|floatformat:0|intcomma }}</td>
                <td>{{ data.total_impressions|floatformat:0|intcomma }}</td>
                <td>£{{ data.total_cpm|floatformat:2 }}</td>
                <td>{{ data.total_clicks|floatformat:0|intcomma }}</td>
                <td>£{{ data.total_cpc|floatformat:2 }}</td>
                <td>{{ data.total_ctr|floatformat:2 }}%</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>